.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #3b8ef3;
    min-height: 100vh;

    & .layout {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 500px;

        & svg {
            margin-right: 1rem;
            cursor: pointer;
        }
    }
}
